.form__container {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-input {
    margin: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.select__select {
    width: 300px;
}

.input__container {
    width: 265px;
}

.input__container:last-child {
    width: 300px;
}

.input__input {
    width: 100%;
}

